body {
    margin: 0;
    padding: 0;
  }
  
  .container {
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  .head {
    text-align: center;
    padding: 20px;
    font-size: 17px;
  }

  .info {
    text-align: center;
    padding: 20px;
  }

  .bottom {
    text-align: center;
    padding: 20px;
  }

  .refer {
    text-align: center;
    padding: 20px;
  }

  .content-box {
    background-color: #FFFFFF;
    padding: 20px;
    margin: 20px;
    border: 1px solid #CCCCCC;
  }

  .fade-caption {
    opacity: 0.5;
  }
  